option_settings:
  aws:autoscaling:asg:
    Availability Zones: 'Any 3'
    Cooldown: '720'
    Custom Availability Zones: 'us-east-1a,us-east-2b'
    MaxSize: '3'
    MinSize: '2'

  aws:autoscaling:launchconfiguration:
    InstanceType: t3.small
    SecurityGroups: my-securitygroup
    MonitoringInterval: "1 minute"
    DisableIMDSv1: false
    ImageId: 'ami-0dc2d3e4c0f9ebd18'
    EC2KeyName: mykp-elixir
    IamInstanceProfile: "aws-elasticbeanstalk-ec2-role"
    RootVolumeType: 'gp3'
    RootVolumeSize: '20'

  aws:autoscaling:trigger:
    MeasureName: "CPUUtilization"
    Unit: "Percent"
    LowerThreshold: "50"
    UpperThreshold: "80"