option_settings:
  aws:autoscaling:asg:
    Availability Zones: 'Any 3'
    Cooldown: '720'
    MaxSize: '3'
    MinSize: '2'

  aws:autoscaling:launchconfiguration:
    InstanceType: t3.small
    SecurityGroups: sg-09f4064d4af34de23
    MonitoringInterval: "1 minute"
    DisableIMDSv1: false
    ImageId: 'ami-0dc2d3e4c0f9ebd18'
    EC2KeyName: aws-eb
    IamInstanceProfile: "aws-elasticbeanstalk-ec2-role"
    RootVolumeType: 'gp3'
    RootVolumeSize: '20'

  aws:autoscaling:trigger:
    MeasureName: "CPUUtilization"
    Unit: "Percent"
    LowerThreshold: "50"
    UpperThreshold: "80"