option_settings:
  aws:elasticbeanstalk:environment:
    LoadBalancerType: "application"
    ServiceRole: "arn:aws:iam::791844155025:role/aws-elasticbeanstalk-service-role"

  aws:elasticbeanstalk:application:
    Application Healthcheck URL: "HTTP:3000/"

  aws:elasticbeanstalk:application:environment:
    KEY: "value"