option_settings:
  aws:ec2:instances:
    InstanceTypes: 't3.small'

  aws:ec2:vpc:
    VPCId: 'vpc-0abf1fa1ff7f47031'
    Subnets: 'subnet-0c026dc418aec93d7,subnet-0f7585d2f70568bac,subnet-0d274eb6b6b63037b'
    ELBSubnets: 'subnet-0c026dc418aec93d7,subnet-0f7585d2f70568bac,subnet-0d274eb6b6b63037b'
    ELBScheme: 'public'
    AssociatePublicIpAddress: true