option_settings:
  aws:ec2:instances:
    InstanceTypes: 't3.small'

  aws:ec2:vpc:
    VPCId: vpc-0b72cb767db0b22d7
    Subnets: 'subnet-0cfe0c4d22df1472a,subnet-0ffd71c7b4ca8052b,subnet-0bf4b3b8295608b13'
    ELBSubnets: 'subnet-0cfe0c4d22df1472a,subnet-0ffd71c7b4ca8052b,subnet-0bf4b3b8295608b13'
    ELBScheme: 'public'
    AssociatePublicIpAddress: true