option_settings:
  aws:ec2:instances:
    InstanceTypes: 't3.small'

  aws:ec2:vpc:
    VPCId: 'vpc-069b08adca26817fb'
    Subnets: 'subnet-02e58b4f3e9748639,subnet-028a001bb3b8e721c,subnet-0ff247281f0f196f2'
    ELBSubnets: 'subnet-02e58b4f3e9748639,subnet-028a001bb3b8e721c,subnet-0ff247281f0f196f2'
    ELBScheme: 'public'
    AssociatePublicIpAddress: true