option_settings:
  aws:elbv2:listener:3000:
    DefaultProcess: app

  aws:elasticbeanstalk:environment:process:app:
    DeregistrationDelay: '20'
    HealthCheckInterval: '15'
    HealthCheckPath: /
    HealthCheckTimeout: '5'
    HealthyThresholdCount: '3'
    UnhealthyThresholdCount: '5'
    Port: '80'
    Protocol: HTTP
    StickinessEnabled: 'true'
    StickinessLBCookieDuration: '43200'
  
  aws:elbv2:listenerrule:app:
    PathPatterns: /*
    Priority: 1
    Process: app