option_settings:
  aws:ec2:vpc:
    VPCId: "vpc-033b316a407ef7d52"
    Subnets: "subnet-0f51d68b8d67ec742,subnet-0f4b8eb46165cb7b2,subnet-00234ce40f545962c"
    ELBSubnets: "subnet-069a5adb2861836bf,subnet-01e88b6972bdbd9af,subnet-0528adaa5a904733a"
    ELBScheme: "public"
    AssociatePublicIpAddress: false

  aws:autoscaling:asg:
    Availability Zones: "Any 3"
    Cooldown: "720"
    MaxSize: "4"
    MinSize: "2"

  aws:autoscaling:launchconfiguration:
    InstanceType: "t3.small"
    MonitoringInterval: "1 minute"
    DisableIMDSv1: false
    ImageId: "ami-06b7b4c59958307ec"
    EC2KeyName: "aws-eb"
    IamInstanceProfile: "aws-elasticbeanstalk-ec2-role"
    RootVolumeType: "gp3"
    RootVolumeSize: "20"

  aws:autoscaling:trigger:
    MeasureName: "CPUUtilization"
    Unit: "Percent"
    BreachDuration: "5"
    LowerThreshold: "30"
    UpperThreshold: "50"

  aws:elasticbeanstalk:application:environment:
    KEY: "value"

  aws:elasticbeanstalk:environment:process:default:
    DeregistrationDelay: "20"
    HealthCheckInterval: "15"
    HealthCheckPath: "/"
    HealthCheckTimeout: "5"
    HealthyThresholdCount: "3"
    UnhealthyThresholdCount: "5"
    Port: "80"
    Protocol: "HTTP"
    StickinessEnabled: "true"
    StickinessLBCookieDuration: "43200"