option_settings:
  aws:ec2:vpc:
    VPCId: "vpc-0827cdb8084051679"
    Subnets: "subnet-09307233f58e4424d,subnet-080fd9fac1db51b22,subnet-0b9bc6f336d6d0ce2"
    ELBSubnets: "subnet-03d4e94cc5757d1c9,subnet-0b0796a47cd89739a,subnet-0300a0d44fc3ec0e2"
    ELBScheme: "public"
    AssociatePublicIpAddress: false

  aws:autoscaling:asg:
    Availability Zones: "Any 3"
    Cooldown: "720"
    MaxSize: "4"
    MinSize: "2"

  aws:autoscaling:launchconfiguration:
    InstanceType: "t3.small"
    MonitoringInterval: "1 minute"
    DisableIMDSv1: false
    ImageId: "ami-06b7b4c59958307ec"
    EC2KeyName: "aws-eb"
    IamInstanceProfile: "aws-elasticbeanstalk-ec2-role"
    RootVolumeType: "gp3"
    RootVolumeSize: "20"

  aws:autoscaling:trigger:
    MeasureName: "CPUUtilization"
    Unit: "Percent"
    BreachDuration: "5"
    LowerThreshold: "30"
    UpperThreshold: "50"

  aws:elasticbeanstalk:environment:
    LoadBalancerType: "application"

  aws:elasticbeanstalk:application:environment:
    KEY: "value"

  aws:elasticbeanstalk:command:
    DeploymentPolicy: "TrafficSplitting"

  aws:elasticbeanstalk:trafficsplitting:
    NewVersionPercent: "15"
    EvaluationTime: "10"

  aws:elasticbeanstalk:environment:process:default:
    DeregistrationDelay: "20"
    HealthCheckInterval: "15"
    HealthCheckPath: "/"
    HealthCheckTimeout: "5"
    HealthyThresholdCount: "3"
    UnhealthyThresholdCount: "5"
    Port: "80"
    Protocol: "HTTP"
    StickinessEnabled: "true"
    StickinessLBCookieDuration: "43200"